body {
    background-image: url(../ASSETS/saladeaula.png);
    margin: 0;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.C1 {
  font-size: 20px;
  margin-top: -40px;
  margin-right: 500PX;
}

.Logo {
  width: 80x;
  height: 80px;
  margin-top: -400px;
}